
body{
  background-image: radial-gradient(blue, aqua);
}

.App {
  text-align: center;
  /* background-image: url(../public/background.png); */
  height: 100%;
  width:100%;
  /* background-repeat: no-repeat; */
  background-size: contain;
}


#navbarContainer{
  background-image: linear-gradient(aqua, blue);
}

#AppContainer{
  background-image: radial-gradient(blue, aqua);
  
}

#mainContainer{
  padding:20px

}

/* width */
::-webkit-scrollbar {
  width:   0px;
  border-color: black;
  }
  
  /* Track */

  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border:1px solid black;
  background: aqua;
  border-radius: 10px;
}

#SearchBars{
  color:white;
    border-color:white;
  }

  #SearchBars:hover{
    color:black;
    background-color: aqua;
  }

  .SignIn{
    cursor: pointer;
  }